name: Deploy to dev after merge
on:
  pull_request:
    types:
      - closed
    branches: off

jobs:
  Run-Salto-Deployment:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:             
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Salto CLI
        run: |
          curl https://cli.salto.io/release/1/linux-x64.tar.gz --output linux-x64.tar.gz
          tar xvzf linux-x64.tar.gz

      - name: Run Deploy to DEV
        env: 
          SALTO_API_TOKEN: ${{ secrets.SALTO_API_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GWR_GH_TOKEN }}
        run: |
          depl_id=$(gh pr view ${{ github.event.pull_request.number }} --json comments -q '.comments[0].body') 
          # this line grabs the deployment ID from the first comment on the PR (created by the previous workflow)
          
          ./salto-cloud deployment deploy -i $depl_id --push

      - name: Create Deployment in UAT
        env: 
          SALTO_API_TOKEN: ${{ secrets.SALTO_API_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GWR_GH_TOKEN }}
        run: |
          depl_id=$(gh pr view ${{ github.event.pull_request.number }} --json comments -q '.comments[0].body') 

          ./salto-cloud deployment create from-deployments \
            -E ${{vars.SALTO_UAT_ENV}} \
            -i $depl_id \
            -n "${{github.event.pull_request.title}}"  # *** improve the naming scheme, look in vars context variable
          # interestingly, we could use 'from-pull-request' here instead.  think about this, could help with merge conflict?
          # There might be trouble since the PR is closed. Not sure if I can use a closed PR as a source.
